<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <th>회원번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>이메일</th>
            <th>전화번호</th>
            <th>프로필사진</th>
        </tr>
        <tr th:each="member: ${member}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.memberEmail}"></td>
            <td th:text="${member.memberName}"></td>
            <td th:text="${member.memberMail}"></td>
            <td th:text="${member.memberMobile}"></td>
            <td><img th:src="@{|/upload/${member.memberProFileName}|}" width="100" height="100" alt=""></td>
            <td><a th:onclick="memberDelete([[${member.id}]])">삭제</a></td>
        </tr>
    </table>
</body>
<script>
    const memberDelete = (id) => {
        location.href = "/member/delete/" + id;
    }
</script>
</html>