<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<dl>
    <dt>글번호</dt>
    <dd th:text="${board.id}"></dd>
</dl>
<dl>
    <dt>작성자</dt>
    <dd th:text="${board.boardWriter}"></dd>
</dl>
<dl>
    <dt>제목</dt>
    <dd th:text="${board.boardTitle}"></dd>
</dl>
<dl>
    <dt>내용</dt>
    <dd th:text="${board.boardContents}"></dd>
</dl>
<dl>
    <dt>첨부파일</dt>
    <dd><img th:src="@{|/upload/${board.boardFileName}|}" width="100" height="100" alt=""></dd>
</dl>
<form action="/board/update" method="post" name="updateForm" enctype="multipart/form-data">
<dl>
    <dt>글번호</dt>
    <dd><input type="text" name="id" th:value="${board.id}"></dd>
</dl>
<dl>
    <dt>작성자</dt>
    <dd><input type="text" name="boardWriter" th:value="${board.boardWriter}"></dd>
</dl>
<dl>
    <dt>제목</dt>
    <dd><input type="text" name="boardTitle" placeholder="제목"></dd>
</dl>
<dl>
    <dt>내용</dt>
    <dd><textarea name="boardContents" placeholder="내용"></textarea></dd>
</dl>
<dl>
    <dt>첨부파일</dt>
    <dd><input type="file" name="boardFile" th:value="@{|/upload/${board.boardFileName}|}" width="100" height="100" alt=""></dd>
</dl>
</form>
<input type="button" th:onclick="boardUpdate()" value="글 수정">
</body>
<script>
    const boardUpdate = () => {
        updateForm.submit();
    }
</script>
</html>